.tapa {
    padding-bottom: 10px;
    text-align: center;
}

.acciones {
    text-align: center;
}

.descripcion {
    text-align: justify;
}

.logo {
    height: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.jumbotron {
    text-align: center;
    background-color: #4a4a48;
    color: white;
}

.jumbotron h1 {
    margin-top: 70px;
}
.titulo-libro {
    text-align: center;
}

.navbar-inverse {
    background-color: #eee;
    border-color: #080808;
}

footer {
    text-align: center;
    font-size: xx-small;
}