<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Resultado</title>
</head>
<body>
    <h1>Resultado</h1>

    <p>{{ x }} {{ accion }} {{ y }} = {{ resultado }}</p>

    <a href="/">inicio</a>
</body>
</html>
